<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FolderToWatch" value="C:\Users\btopukov\source\repos\BradyCodeChallenge\BradyCodeChallenge\InputData" />
    <add key="FolderForOutput" value="C:\Users\btopukov\source\repos\BradyCodeChallenge\BradyCodeChallenge\OutputData\" />
    <add key="ReferenceData" value="C:\Users\btopukov\source\repos\BradyCodeChallenge\BradyCodeChallenge\ReferenceData\ReferenceData.xml"/>
  </appSettings>
</configuration>